@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "common/variables";
@import "common/mixin";

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    body {
        background-size: 50px 50px;
    }
    
    .header {
        background: url(../img/bg/header-bg@2x.jpg) no-repeat center;
        background-size: cover;
    }
    .program-event {
        background: url(../img/bg/program-event-bg@2x.png) no-repeat top center;
    }
    .excursions-city {
        background: url(../img/bg/excursions-bg@2x.png) no-repeat center top;
    }
    .hotels {
        background: url(../img/bg/hotel-bg@2x.png) no-repeat center top;
    }
    .gallery-events {
        background: url(../img/bg/gallery-bg@2x.png) no-repeat center top;
    }
    .press-about {
        background: url(../img/bg/press-bg@2x.png) no-repeat center top;
    }
}

@media (max-width: 959px) {
    .hotels {
        .bid-form {
            display: flex;
            align-items: flex-end;
        }
        .bid-form__inner {
            width: 100%;
        }
    }

    .open-menu {
        margin-left: -10px;
        padding: 20px 10px 10px;
        position: relative;
        z-index: 15;
        cursor: pointer;
        .nav-button {
            width: 22px;
            height: 22px;
            fill: #fff;
        }
    }


    .hotel-window p {
        width: 100%;
    }
    
    .header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .header-logo {
        z-index: 15;
    }
    .header-date {
        position: relative;
        z-index: 15;
    }
    
    .header {
        &::after {
            width: 255px;
            opacity: .45;
        }
        &::before {
            width: 100%;
        }
        .logo-hog {
            display: none;
        }
    }
    
    .header-panel .header-menu {
        display: none;
    }
    
    .hotel-window__content {
        padding-left: 30px;
        padding-right: 30px;
        flex-direction: column;
    }
    
    .news-item__media,
    #section5 .section-block__header-right {
        display: none;
    }
    
    .panel-flex {
        margin-bottom: 50px;
    }
    
    .panel-body {
        position: relative;
    }
    
    .bid-form {
        padding: 12% 21% 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;
        background-color: #171817;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.4s ease;
    }
    
    .bid-form__title {
        position: relative;
    }
    
    .bid-form__close {
        top: -3px;
        right: -5px;
        padding: 5px;
        position: absolute;
        z-index: 59;
        .close {
            width: 20px;
            height: 20px;
        }
    }
    
    .form-opened .bid-form {
        opacity: 1;
        pointer-events: auto;
    }
    
    .section-block__header {
        align-items: center;
    }
    
    .section-block__header-right {
        padding-top: 0;
    }
    .section-block__header-right:not(.tabs-header__right) .tab-date {
        width: 220px;
        height: 50px;
        overflow: hidden;
        background-color: #171817;
        li {
            width: 100%;
            margin-right: 0;
            padding-bottom: 8px;
            border-bottom-width: 0;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            transition: all 0.4s ease;
            &::before {
                display: none;
            }
            &:not(.active) {
                width: 0;
                min-width: 0;
                .tab-date__number,
                .tab-date__month {
                    opacity: 0;
                    transition: all 0.4s ease;
                }
            }
            &:first-child {
                .arrow {
                    left: 28px;
                }
            }
            &:last-child {
                .arrow {
                    right: 28px;
                    left: auto;
                    transform: rotate(0);
                }
            }
        }
        .active {
            pointer-events: none;
            .arrow {
                fill: #535350;
            }
        }
        .arrow {
            width: 10px;
            height: 10px;
            position: absolute;
            top: 50%;
            margin-top: -4px;
        }
    }
    .tab-date__month {
        padding-bottom: 3px;
        padding-left: 6px
    }
    
    .section-title__color {
        display: none;
    }
    .panel-body {
        padding: 30px;
        .pull-right {
            margin-left: 30px;
            max-width: 30%;
        }
        .pull-left {
            margin-right: 30px;
            max-width: 30%;
        }
    }
    
    .header-container, .header-panel {
        position: static;
    }
    .header-logo {
        width: 196px;
    }

    .header-lang {
        margin-left: auto;
        padding-top: 24px;
    }
    .header-panel__second .header-lang {
        margin-left: 0;
    }
    .header-left {
        text-align: center;
    }
    .header-date {
        margin-top: 18px;
        display: inline-flex;
        text-align: left;
    }
    .header-date__location {
        max-width: 155px;
    }
    .header-content {
        width: 100%;
    }
    .header-content__text {
        width: 74%;
        display: block;
        margin: 0 auto 10px;
    }
    .header-biker__media {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
    .header-bottom .container {
        display: none;
    }
}

@media (max-width: 719px) {
    .hotel-window__content {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .hotel-window__location, .section-block__header-right {
        display: none;
    }
    
    .footer-wrap {
        flex-direction: column;
    }
    .developer {
        margin-top: 10px;
    }
    
    .news-item__title {
        position: relative;
    }
    .news-item__data {
        position: absolute;
        top: 100%;
        right: 0;
        @include font-size(14px);
    }
    
    .bid-form {
        padding: 12% 8%;
        display: flex;
        align-items: flex-end;
        .bid-form__inner {
            width: 100%;
        }
    }
    
    .header {
        position: relative;
        &::after {
            height: 100%;
        }
    }
    .header-container::before {
        width: 226px;
    }
    .header-logo {
        width: 185px;
    }
    .header-biker {
        display: none;
    }
    .open-menu {
        padding-left: 14px;
    }
    .header-lang {
        padding-right: 0;
        z-index: 59;
    }
    .header-wrap {
        z-index: 10;
        position: relative;
        flex: 1;
        display: flex;
        align-items: center;
        padding-bottom: 75px;
    }
    .header-date__location {
        padding-left: 32px;
        max-width: 135px;
    }
    .header-content__text {
        width: 100%;
    }
    .close-menu {
        left: 22px;
    }
    .header-menu__point:not(:last-child) {
        margin-bottom: 30px;
    }
    .header-menu:first-of-type {
        top: 0;
    }
    .header-menu:not(:first-of-type) {
        padding-top: 30px;
    }
    .header-content__link {
        bottom: 90px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
    }
}

@media (max-width: 575px) {
    .safari-browser .header-wrap {
        padding-bottom: 125px;
    }

    .program-event, .excursions-city, .hotels, .gallery-events, .press-about {
        background-size: 728px !important;
    }
    
    .fixed-menu__top {
        .logo-hog {
            @include font-size(26px);
        }
        .close-menu {
            margin-top: -8px;
        }
    }
    
    .hotel-window {
        min-height: 900px;
    }
    
    .hotel-window__prices li {
        flex: 1;
    }
    .hotel-window__prices {
        margin-top: 27px;
        margin-bottom: 28px;
        top: 0;
    }
    
    .panel {
        margin-bottom: 10px;
    }
    
    .overflow-show:hover::before,
    .overflow-show:hover .view,
    .overflow-show:hover .text,
    .press-about .tab-date {
        display: none;
    }
    
    .section-block__header-right:not(.tabs-header__right) .tab-date {
        width: 100%;
    }
    
    .panel-heading__date {
        margin-bottom: -4px;
        padding-left: 10px;
    }
    .panel-body__price {
        display: flex;
        flex-direction: column;
        align-items: center;
        .user {
            width: 17px;
            height: 16px;
            fill: #fff;
        }
    }
    
    .panel-body__price-r {
        width: 100%;
    }
    
    .human {
        display: none;
    }
    
    .section-block__header {
        margin-bottom: 26px;
    }
    
    .tab-date {
        width: 100%;
    }
    
    .panel-body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        .pull-left, .pull-right {
            margin: 0 0 15px;
            max-width: 100%;
            float: none;
            order: 1;
        }
        p {
            order: 2;
        }
    }
    
    .panel-heading {
        flex-wrap: wrap;
    }
    .panel-heading__event {
        width: 100%;
        padding: 20px 20px;
        border-bottom: 1px solid #292929;
        flex: none;
    }
    .panel-heading__time {
        padding-left: 20px;
        order: 1;
        height: auto;
        flex: 1;
        @include font-size(20px);
        .clock {
            width: 18px;
            height: 18px;
            margin-right: 10px;
            fill: #fff;
        }
    }
    .panel-heading__more {
        height: 45px;
        order: 2;
        min-width: 158px;
        padding: 2px 30px 0;
        .arrow {
            margin-left: auto;
        }
    }
    
    .section-title {
        margin-bottom: 41px;
        padding-left: 62px;
        &::before {
            width: 43px;
            height: 1px;
        }
    }
    
    h1, .h1 {
        @include font-size(35px);
    }
}

//*********************************

@media (min-width: 576px) {
    .genera-carousel {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .panel-heading {
        height: 90px;
    }
    
    .user {
        display: none;
    }
    
    .panel-heading__time .clock {
        display: none;
    }
    
    .btn-black .arrow {
        margin-left: -5px;
        left: 50%;
        bottom: 16px;
        position: absolute;
    }
    .panel-heading__time {
        height: 100%;
        border-right: 2px solid #252525;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 144px;
        @include font-size(30px);
    }
    .panel-heading__more {
        height: 100%;
    }
}

@media (min-width: 720px) {
    .hotel-window__content {
        flex-wrap: wrap;
    }

    .menu-panel-opened .header-menu__point:not(:last-child) {
        margin-bottom: 60px;
    }

    .tab-date {
        justify-content: flex-end;
        .arrow {
            display: none;
        }
        li:not(:last-child) {
            margin-right: 32px;
            &::before {
                width: 1px;
            }
        }
    }
    
    .developer {
        margin-left: auto;
    }
    
    .header::after {
        height: calc(100% - 100px);
    }
    .news-item__data {
        margin-left: auto;
        align-items: flex-start;
        @include font-size(18px);
    }
}

@media (min-width: 960px) {
    .open-menu {
        display: none;
    }
    
    .language-bar-item:hover a {
        border-bottom-color: $colorOrange;
    }
    
    .header-content__text {
        margin-bottom: 30px;
    }
    
    .header-wrap {
        margin-top: auto;
    }
    
    .header-left {
        padding-top: 50px;
    }
    
    .header-biker__media {
        max-width: 565px;
    }
    
    .hotel-window__head {
        padding-bottom: 22px;
    }
    
    .hotel-window__prices li {
        flex: 1;
        &:not(:first-child):not(:last-child) {
            flex: 1 0 12%;
        }
    }
    .hotel-window__left {
        width: 55%;
    }
    
    .hotel-window__right {
        width: 37%;
        margin-left: auto;
        align-self: flex-start;
        .bid-form {
            margin-top: 70px;
        }
    }
    
    .panel-heading__event {
        @include font-size(20px);
    }
    
    .bid-form {
        width: 37%;
        margin-left: 6%;
        padding: 37px 30px 30px;
    }
    
    .bid-form__close,
    .bid-form__send {
        display: none;
    }
    
    .hotel-window__right .bid-form {
        width: 100%
    }
    
    .panel-body {
        padding: 45px;
        .pull-right {
            max-width: 36%;
            margin-left: 85px;
        }
        .pull-left {
            max-width: 36%;
            margin-right: 85px;
        }
    }
    
    .header-container {
        position: relative;
        z-index: 5;
    }
    .header .header-menu {
        padding-top: 23px;
    }
    .header-panel__second .header-menu {
        padding-top: 9px;
    }
    .header-date {
        margin-top: 22px;
        display: flex;
        margin-bottom: 17px;
    }
    
    .header-bottom {
        border-top: 1px solid rgba(#fff, .1);
    }
}

@media (min-width: 1170px) {
    .header {
        top: 0;
        position: absolute;
        z-index: 95;
        transition: transform 0.8s;
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        will-change: transform;
        &::before {
            width: calc(100% / 2 - 100px);
        }
        &::after {
            width: 205px;
        }
    }
    
    html, body {
        width: 100%;
        height: 100%;
    }
    
    .no-scroll {
        overflow: scroll;
        overflow-x: hidden;
        body {
            overflow: hidden;
        }
    }
    
    #programm, #excursions {
        transform: translateY(100vh);
        transition: transform 0.8s;
        transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
        will-change: transform;
    }
    
    .first-active {
        transform: translate(0, -100%);
    }
    
    .first-active + #programm,
    .first-active + #programm + #excursions {
        transform: translateY(0);
    }
    
    .header-menu {
        &:first-of-type {
            max-width: 387px;
        }
        &:not(:first-of-type) {
            margin-right: 87px;
            max-width: 284px;
        }
    }
}

@media (min-width: 1920px) {
    .header::after {
        height: calc(100% - 121px);
    }
    .header-bottom__block {
        height: 121px;
    }
    
    .header-biker__media {
        max-width: 650px;
    }
}

//*********************************

@media (min-width: 576px) and (max-width: 719px) {
    .hotel-item__panel {
        padding-left: 15px;
    }
    .hotel-item__name {
        @include font-size(16px);
    }
    .hotel-item__price {
        padding-left: 10px;
        padding-right: 10px;
        @include font-size(16px);
        span {
            @include font-size(15px);
        }
    }
}

@media (min-width: 576px) and (max-width: 959px) {
    .hotel-window__content {
        .bid-form__send {
            margin-top: 30px;
        }
        
    }
    .hotel-window__left {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .hotel-window__big {
        max-width: calc(100% - 140px);
        max-height: 414px;
        overflow: hidden;
    }
    
    .hotel-thrum {
        margin-left: auto;
        max-width: 125px;
        padding: 25px 0 30px;
        .slick-slide {
            padding: 5px 0 0;
            cursor: pointer;
        }
    }
    .hotels {
        .slick-arrow {
            height: 20px;
            width: 100%;
            .arrow {
                left: 50%;
                margin-left: -5px;
            }
        }
        .slick-prev .arrow {
            transform: rotate(-90deg);
        }
        .slick-next {
            right: auto;
            left: 0;
            bottom: 0;
            top: auto;
            .arrow {
                transform: rotate(90deg);
            }
        }
    }
    
    .hotel-window__prices {
        margin-top: 20px;
        margin-bottom: 50px;
        li:not(:first-child):not(:last-child) {
            padding-left: 45px;
            padding-right: 45px;
            margin-left: 45px;
            margin-right: 45px;
        }
    }
    .btn-black {
        min-width: 133px;
        padding: 0 29px;
    }
    .panel-heading__event {
        padding-left: 30px;
    }
    .panel-heading__time {
        flex: 0 0 115px;
    }
    .container-fluid, .container {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 720px) and (max-width: 959px) {
    .header-content {
        position: absolute;
        bottom: 75px;
        left: 0;
    }
}

@media (min-width: 800px) and (max-width: 959px) {
    .header-biker__media {
        width: 53%;
    }
}

@media (min-width: 960px) and (max-width: 1170px) {
    .header::before {
        width: calc(100% / 2 - 92px);
        background-size: 175%;
        background-position: 0 -42px;
    }
    .header::after {
        width: 185px;
    }
    .header-menu {
        &:first-of-type {
            max-width: 334px;
        }
        
        &:not(:first-of-type) {
            margin-right: 80px;
            max-width: 223px;
        }
    }
}

@media (max-width: 1280px) and (max-height: 800px) {
    .header-container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 719px), (max-height: 750px) {
    .header-biker__media {
        display: none;
    }
}
