@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
@import "common/variables";
@import "common/mixin";

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
}

@media (max-width: 959px) {
    .section-block__header {
        align-items: center;
    }
    .section-block__header-right {
        padding-top: 0;
    }
    .tab-date {
        width: 220px;
        height: 50px;
        overflow: hidden;
        background-color: #171817;
        li {
            width: 100%;
            margin-right: 0;
            padding-bottom: 8px;
            border-bottom-width: 0;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            transition: all 0.4s ease;
            &::before {
                display: none;
            }
            &:not(.active) {
                width: 0;
                min-width: 0;
                .tab-date__number,
                .tab-date__month {
                    opacity: 0;
                    transition: all 0.4s ease;
                }
            }
            &:first-child {
                .arrow {
                    left: 28px;
                }
            }
            &:last-child {
                .arrow {
                    right: 28px;
                    left: auto;
                    transform: rotate(0);
                }
            }
        }
        .active {
            pointer-events: none;
            .arrow {
                fill: #535350;
            }
        }
        .arrow {
            width: 10px;
            height: 10px;
            position: absolute;
            top: 50%;
            margin-top: -4px;
        }
    }
    .tab-date__month {
        padding-bottom: 3px;
        padding-left: 6px
    }
    
    .section-title__color {
        display: none;
    }
    .panel-body {
        padding: 30px;
        .pull-right {
            margin-left: 30px;
            max-width: 30%;
        }
        .pull-left {
            margin-right: 30px;
            max-width: 30%;
        }
    }
    
    .header::before {
        width: 100%;
        z-index: 50;
        background-color: #232323;
        position: fixed;
        height: 100vh;
    }
    .header-container {
        background: url(../img/bg/header-left-bg@2x.png) no-repeat top right;
        background-size: contain;
        &::before {
            width: 255px;
            opacity: .45;
        }
    }
    .header-container, .header-panel {
        position: static;
    }
    .header .logo-hog {
        width: 100%;
        top: 53px;
        left: 0;
        position: fixed;
        z-index: 56;
        text-align: center;
        @include font-size(31px);
    }
    .header-logo {
        width: 196px;
    }
    .header-menu {
        position: fixed;
        z-index: 50;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        @include font-size(34px);
        &:first-of-type {
            height: 50vh;
            top: 20px;
            justify-content: flex-end;
        }
        &:not(:first-of-type) {
            height: 50vh;
            top: 50vh;
            justify-content: flex-start;
        }
    }
    .header-menu__point:not(:last-child) {
        margin-bottom: 60px;
    }
    .close-menu {
        top: 47px;
        left: 53px;
        padding: 10px;
        position: fixed;
        z-index: 59;
        transition: all .7s ease;
        opacity: 0;
        pointer-events: none;
        will-change: transform;
        transform: translateX(-100%);
        .close {
            width: 18px;
            height: 18px;
            fill: #fff;
        }
    }
    
    .header::before,
    .header .logo-hog,
    .header-menu {
        transition: transform .7s ease;
        will-change: transform;
        transform: translateX(-100%);
    }
    .menu-panel-opened {
        .close-menu,
        .header::before,
        .header .logo-hog,
        .header-menu {
            transform: translateX(0);
        }
        
        .close-menu {
            opacity: 1;
            pointer-events: auto;
        }
    }
    
    .open-menu {
        padding: 20px 10px 10px 41px;
        .nav-button {
            width: 22px;
            height: 22px;
            fill: #fff;
        }
    }
    
    .header-lang {
        margin-left: auto;
        padding-top: 24px;
        padding-right: 43px;
    }
    .header-left {
        text-align: center;
    }
    .header-date {
        margin-top: 44px;
        display: inline-flex;
        text-align: left;
    }
    .header-date__location {
        max-width: 155px;
    }
    .header-content {
        width: 100%;
    }
    .header-content__text {
        width: 74%;
        display: block;
        margin: 0 auto 10px;
    }
    .header-biker__media {
        width: 66%;
        margin-left: auto;
        margin-right: auto;
    }
    .header-bottom .container {
        display: none;
    }
}

@media (max-width: 719px) {
    .header {
        height: calc(100vh - 75px);
        position: relative;
    }
    .header-container::before {
        width: 226px;
    }
    .header-content {
        padding-bottom: 150px;
        position: relative;
    }
    .header-logo {
        width: 185px;
    }
    .header-biker {
        display: none;
    }
    .open-menu {
        padding-left: 14px;
    }
    .header-lang {
        padding-right: 0;
        z-index: 59;
    }
    .header-left {
        padding-top: 101px;
    }
    .header-date__location {
        padding-left: 32px;
        max-width: 135px;
    }
    .header-content__text {
        width: 100%;
    }
    .close-menu {
        left: 22px;
    }
    .header-menu__point:not(:last-child) {
        margin-bottom: 30px;
    }
    .header-menu:first-of-type {
        top: 0;
    }
    .header-menu:not(:first-of-type) {
        padding-top: 30px;
    }
}

@media (max-width: 575px) {
    .section-block__header {
        margin-bottom: 26px;
    }
    
    .tab-date {
        width: 100%;
    }
    
    .panel-body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        .pull-left, .pull-right {
            margin: 0 0 15px;
            max-width: 100%;
            float: none;
            order: 1;
        }
        p {
            order: 2;
        }
    }
    
    .panel-heading {
        height: 115px;
        flex-wrap: wrap;
    }
    .panel-heading__event {
        width: 100%;
        padding: 20px 20px;
        border-bottom: 1px solid #292929;
        flex: none;
    }
    .panel-heading__time {
        padding-left: 20px;
        order: 1;
        height: auto;
        flex: 1;
        @include font-size(20px);
        .clock {
            width: 18px;
            height: 18px;
            margin-right: 10px;
            fill: #fff;
        }
    }
    .panel-heading__more {
        height: 45px;
        order: 2;
        min-width: 158px;
        padding: 2px 30px 0;
        .arrow {
            margin-left: auto;
        }
    }
    
    .section-title {
        margin-bottom: 41px;
        padding-left: 62px;
        &::before {
            width: 43px;
            height: 1px;
        }
    }
    
    h1, .h1 {
        @include font-size(35px);
    }
}

//*********************************

@media (min-width: 374px) {
    .header-content__text {
        margin-bottom: 30px;
    }
}

@media (min-width: 576px) {
    .panel-heading__time .clock {
        display: none;
    }
    
    .btn-black .arrow {
        margin-left: -5px;
        left: 50%;
        bottom: 16px;
        position: absolute;
    }
    .panel-heading__time {
        height: 100%;
        border-right: 2px solid #252525;
        flex-direction: column;
        justify-content: center;
        flex: 0 0 144px;
        @include font-size(30px);
    }
    .panel-heading__more {
        height: 100%;
    }
}

@media (min-width: 960px) {
    .tab-date {
        justify-content: flex-end;
        .arrow {
            display: none;
        }
        li:not(:last-child) {
            margin-right: 32px;
            &::before {
                width: 1px;
            }
        }
    }
    
    .panel-body {
        padding: 45px;
        .pull-right {
            max-width: 36%;
            margin-left: 85px;
        }
        .pull-left {
            max-width: 36%;
            margin-right: 85px;
        }
    }
    
    .header-container {
        position: relative;
        z-index: 5;
    }
    .header-wrap {
        margin-top: 165px;
    }
    .header-menu {
        padding-top: 23px;
    }
    .close-menu {
        display: none;
    }
    .header-date {
        margin-top: 22px;
        display: flex;
        margin-bottom: 17px;
    }
    .header-biker__media {
        max-width: 649px;
    }
    .open-menu {
        display: none;
    }
    .header-bottom {
        border-top: 1px solid rgba(#fff, .1);
    }
}

@media (min-width: 1170px) {
    .header::before {
        width: calc(100% / 2 - 100px);
    }
    .header-container::before {
        width: 205px;
    }
    .header-menu {
        &:first-of-type {
            max-width: 387px;
        }
        &:not(:first-of-type) {
            margin-right: 87px;
            max-width: 284px;
        }
    }
}

//*********************************

@media (min-width: 576px) and (max-width: 959px) {
    .btn-black {
        min-width: 133px;
        padding: 0 29px;
    }
    .panel-heading__event {
        padding-left: 30px;
    }
    .panel-heading__time {
        flex: 0 0 115px;
    }
    .container-fluid, .container {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media (min-width: 720px) and (max-width: 959px) {
    .header-content {
        position: absolute;
        bottom: 75px;
        left: 0;
    }
}

@media (min-width: 960px) and (max-width: 1170px) {
    .header::before {
        width: calc(100% / 2 - 92px);
        background-size: 175%;
        background-position: 0 -42px;
    }
    .header-container::before {
        width: 185px;
    }
    .header-wrap {
        margin-top: 18vh;
    }
    .header-menu {
        &:first-of-type {
            max-width: 334px;
        }
        
        &:not(:first-of-type) {
            margin-right: 80px;
            max-width: 223px;
        }
    }
}

@media (max-width: 1280px) and (max-height: 800px) {
    .header-container {
        display: flex;
        flex-direction: column;
    }
    .header-wrap {
        margin-top: auto;
    }
}
