@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/btn";
@import "common/form";
@import "common/common";
@import "blocks/header";
@import "blocks/section-block";
@import "blocks/panel";
@import "blocks/bid-form";
@import "blocks/news-item";
@import "blocks/pagination";
@import "blocks/partner";
@import "blocks/footer";
@import "blocks/overflow-show";
@import "blocks/gallery-events";
@import "blocks/hotels";

.program-event {
    background: url(../img/bg/program-event-bg.png) no-repeat top center;
}

.excursions-city {
    background: url(../img/bg/excursions-bg.png) no-repeat center top;
}

.press-about {
    margin-bottom: 150px;
    background: url(../img/bg/press-bg.png) no-repeat center top;
}

.excursions-city__carousel {
    border-top: 10px solid transparent;
}

.gallery-events {
    background: url(../img/bg/gallery-bg.png) no-repeat center top;
}

.fixed-nav {
    .header-container {
        position: static;
        z-index: 99;
    }
    .header-panel {
        width: 100%;
        position: fixed;
        z-index: 90;
        top: 0;
        left: 0;
        margin-bottom: 0;
        background: #262626 url(../img/bg/bg.jpg) repeat;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.30);
    }
    .header-panel__inner {
        max-width: 1170px;
        width: 100%;
        height: 80px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
        align-items: center;
    }
    .header-menu, .header-lang {
        padding-top: 7px;
    }
    .header-logo {
        height: 20px;
        overflow: hidden;
        img {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
}
