@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/btn";
@import "common/form";
/*@import "common/checkbox-radio";*/
@import "common/common";
@import "blocks/header";
@import "blocks/section-block";
@import "blocks/panel";
@import "blocks/bid-form";
@import "blocks/news-item";
@import "blocks/pagination";
@import "blocks/partner";
@import "blocks/footer";
@import "blocks/overflow-show";

.program-event {
    background: url(../img/bg/program-event-bg.png) no-repeat top center;
}

.excursions-city {
    background: url(../img/bg/excursions-bg.png) no-repeat center top;
}

.press-about {
    margin-bottom: 150px;
    background: url(../img/bg/press-bg.png) no-repeat center top;
}

.excursions-city__carousel {
    padding-top: 10px;
}

.gallery-events {
    background: url(../img/bg/gallery-bg.png) no-repeat center top;
}

.gallery-events__item {
    margin-bottom: 40px;
}

.gallery-events__inner {
    cursor: pointer;
    &:hover {
        .gallery-events__title {
            color: $colorOrange;
        }
        .overflow-show {
            &::before,
            .view {
                opacity: 1;
            }
        }
    }
}

.gallery-events__title {
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.4s ease;
    @include font-size(24px);
}
