@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/btn";
@import "common/form";
/*@import "common/checkbox-radio";*/
@import "common/common";
@import "blocks/header";
@import "blocks/section-block";
@import "blocks/panel";
@import "blocks/bid-form";
@import "blocks/news-item";
@import "blocks/pagination";

.owl-theme {
    padding: 0 30px;
    img {
        max-width: 125px;
    }
    .owl-prev,
    .owl-next {
        &:not(.disabled) {
            background-color: #fff;
            .arrow {
                fill: $colorOrange;
            }
            &:hover {
                background-color: $colorOrange;
                .arrow {
                    fill: #fff;
                }
            }
        }
        height: 100%;
        width: 20px;
        position: absolute;
        top: 0;
        background-color: #222422;
        transition: all 0.4s ease;
        .arrow {
            width: 10px;
            height: 10px;
            fill: #A0A0A0;
            position: absolute;
            top: 50%;
            left: 5px;
            margin-top: -5px;
            transition: all 0.4s ease;
        }
        &.disabled {
            cursor: default;
        }
    }
    .owl-prev {
        left: 0;
        .arrow {
            transform: rotate(180deg);
        }
    }
    .owl-next {
        right: 0;
    }
}

.program-event {
    background: url(../img/bg/program-event-bg.png) no-repeat top center;
}

.excursions-city {
    background: url(../img/bg/excursions-bg.png) no-repeat center top;
}

.press-about {
    background: url(../img/bg/press-bg.png) no-repeat center top;
}
