@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
/*@import "common/btn";
@import "common/form";
@import "common/checkbox-radio";*/
@import "common/common";

.header {
    height: 100vh;
    background: url(../img/bg/header-bg.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header-container {
    padding-top: 35px;
    position: relative;
    flex: 1;
    &::before {
        width: 205px;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        content: '';
        background-image: linear-gradient(0deg, rgba(0,0,0,0.00) 0%, rgba(110,110,110,0.36) 25%, #757575 47%);
        box-shadow: 0 0 30px 0 rgba(0,0,0,0.25);
    }
}

.header-panel {
    margin-bottom: 165px;
    z-index: 5;
    position: relative;
    line-height: 1;
    font-weight: 400;
    display: flex;
    align-items: flex-start;
    @include font-size(16px);
}

/* ********************************** */

.header-logo__text {
    display: none;
}

/* ********************************** */

.header-menu {
    padding-top: 23px;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    text-transform: uppercase;
    flex: 1;
    display: flex;
    justify-content: space-between;
    &:first-of-type {
        max-width: 387px;
    }
    &:not(:first-of-type) {
        margin-right: 87px;
        margin-left: auto;
        max-width: 284px;
    }
}

.header-menu__point {
    border-bottom: 1px solid transparent;
    &:not(.header-menu__active) {
        color: #fff;
        &:hover {
            color: $colorOrange;
        }
    }
}

.header-menu__active {
    color: $colorOrange;
    border-bottom-color: $colorOrange;
}

.header-menu__link {
    color: inherit;
}

/* ********************************** */

.header-logo {
    width: 152px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* ********************************** */

.header-lang {
    padding-top: 23px;
    cursor: pointer;
    display: flex;
}

.header-lang__item {
    padding-right: 10px;
    position: relative;
    color: $colorOrange;
    &:not(.header-lang__active) {
        display: none;
    }
    &:hover .header-lang__text {
        border-bottom-color: $colorOrange;
    }
    .arrow {
        width: 10px;
        height: 10px;
        fill: $colorOrange;
        position: absolute;
        top: 2px;
        right: 0;
    }
}

.header-lang__active {
    display: flex;
}

.header-lang__text {
    border-bottom: 1px solid transparent;
    margin-right: 5px;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

/*****************************************/

.logo-hog {
    text-transform: uppercase;
    color: $colorOrange;
    font-weight: 700;
    line-height: 1;
    @include font-size(45px);
}

.logo-hog-color {
    color: #fff;
}

/*****************************************/

.header-date {
    margin-top: 22px;
    margin-bottom: 17px;
    position: relative;
    display: flex;
}

.header-date__number {
    color: $colorOrange;
    line-height: 1;
    position: relative;
    z-index: 2;
    font-family: 'ristretto_prosemibold', akrobat, sans-serif;
    @include font-size(73px);
}

.header-date__month {
    top: 9px;
    left: 36px;
    position: absolute;
    transform: rotate(90deg);
}

.header-date__location {
    max-width: 237px;
    padding-left: 44px;
    top: -6px;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 29px;
    @include font-size(26px);
}

/*****************************************/

.header-left {
    padding-top: 50px;
}

.header-content {
    font-weight: 400;
    line-height: 23px;
}

.header-content__text {
}

.header-content__link {
    color: $colorOrange;
    border-bottom: 1px solid;
}

.header-biker {
}

.header-biker__media {
    width: 100%;
    max-width: 649px;
    margin-left: auto;
}

/*****************************************/

.header-bottom {
    margin-top: auto;
    color: #C6C6C6;
    overflow: hidden;
    @include font-size(18px);
    li {
        position: relative;
        &:not(:first-child):not(:last-child) {
            text-align: center;
        }
        &:first-child, &:last-child {
            &::before {
                width: 150rem;
                height: 100%;
                top: 0;
                position: absolute;
                content: '';
                background-color: inherit;
            }
        }
        &:first-child {
            background-color: rgba(#000, .1);
            &::before {
                right: 100%;
            }
        }
        &:nth-child(2) {
            background-color: rgba(#000, .15);
        }
        &:nth-child(3) {
            background-color: rgba(#000, .20);
            .header-bottom__text {
                padding-right: 15px;
            }
        }
        &:last-child {
            text-align: right;
            background-color: rgba(#000, .25);
            &::before {
                left: 100%;
            }
        }
    }
}

.header-bottom__block {
    height: 121px;
    align-items: center;
    position: relative;
    display: inline-flex;
    text-align: left;
}

.header-bottom__icon {
    width: 39px;
    height: 38px;
    margin-right: 20px;
    fill: #fff;
}

.header-bottom__text {
    line-height: 22px;
}

.header-down {
    width: 1px;
    height: 65px;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
    z-index: 12;
    position: absolute;
    overflow: hidden;
    &::after {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        background-color: $colorOrange;
        animation: spin 1.5s 1000 linear;
    }
}

/*****************************************/
