@import 'lib/breakpoint';
@import 'lib/breakpoint-slicer';
/* common */
@import "common/variables";
@import "common/mixin";
@import "common/fonts";
@import "common/btn";
@import "common/form";
@import "common/common";
/* blocks */
@import "blocks/header";
@import "blocks/section-block";
@import "blocks/panel";
@import "blocks/bid-form";
@import "blocks/news-item";
@import "blocks/pagination";
@import "blocks/partner";
@import "blocks/footer";
@import "blocks/gallery-events";
@import "blocks/hotels";

.program-event {
    background: url(../img/bg/program-event-bg.png) no-repeat top center;
}

.excursions-city {
    background: url(../img/bg/excursions-bg.png) no-repeat center top;
}

.press-about {
    margin-bottom: 150px;
    background: url(../img/bg/press-bg.png) no-repeat center top;
    .owl-stage-outer {
        margin-bottom: 30px;
    }
}

.excursions-city__carousel {
    border-top: 10px solid transparent;
}

.header-panel__second {
    width: 100%;
    height: 80px;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 102;
    left: 0;
    margin-bottom: 0;
    background: #262626 url(../img/bg/bg.jpg) repeat;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.30);
    opacity: 0;
    transform: translateY(-100%);
    transition: transform .8s ease;
    will-change: transform;
    .header-panel {
        opacity: 0;
        transition: all 1s ease;
    }
    .header-logo {
        margin: 0 auto;
        display: block;
        position: relative;
    }
    .header-menu:not(:first-of-type) {
        margin-left: 0;
    }
}

.fixed-nav {
    .header-panel__second {
        opacity: 1;
        transform: translateY(0);
    }
    
    .header-panel {
        opacity: 1;
    }
    .header-container {
        position: static;
        z-index: 99;
    }
    .header-panel__inner {
        max-width: 1170px;
        width: 100%;
        height: 80px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
        align-items: center;
    }
    .header-lang {
        padding-top: 7px;
    }
    .header-logo {
        height: 25px;
        overflow: hidden;
        img {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
}

.fixed-menu {
    width: 100%;
    height: 100%;
    background: url(../img/bg/header-left-bg@2x.png) no-repeat top right #1E1E1E;
    background-size: 100%;
    z-index: 95;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: transform .7s ease;
    will-change: transform;
    transform: translateX(-100%);
    
    .header-menu {
        flex-direction: column;
        align-items: center;
        font-weight: 700;
        line-height: 1;
        justify-content: center;
        align-self: center;
        @include font-size(30px);
    }
}

.fixed-menu__top {
    padding-top: 52px;
    display: flex;
    align-items: flex-start;
    .logo-hog {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        flex: 1;
        @include font-size(32px);
    }
    .header-lang {
        margin-left: 0;
        padding-top: 6px;
        padding-right: 0;
    }
}

.close-menu {
    margin-top: -6px;
    margin-left: -10px;
    padding: 10px;
    transition: all .7s ease;
    .close {
        width: 18px;
        height: 18px;
    }
}

.menu-panel-opened .fixed-menu {
    transform: translateX(0);
}

.cafe {
}
