<div class="fixed-menu">
    <div class="fixed-menu__top container">
        <div class="close-menu">
            <svg class="close">
                <use xlink:href="img/sprite.svg#close"></use>
            </svg>
        </div>

        <div class="logo-hog">
            H.O.G.® Rally <span class="logo-hog-color">Minsk</span>
        </div>

        <ul class="header-lang list-unstyled">
            <li class="language-bar-item language-bar-current">
                <span>Ру</span>
            </li>
            <li class="language-bar-item">
                <a href="http://hograllyminsk.com/en/" class="" title="En (en)"><span>En</span></a>
            </li>
        </ul>
    </div>

    <ul class="header-menu nav nav-tabs" role="tablist">
        <li class="header-menu__point active">
            <a href="#event" class="header-menu__link">О мероприятии</a>
        </li>
        <li class="header-menu__point">
            <a href="#programm" class="header-menu__link">Программа</a>
        </li>
        <li class="header-menu__point">
            <a href="#excursions" class="header-menu__link">Экскурсии</a>
        </li>
        <li class="header-menu__point">
            <a href="#hotels" class="header-menu__link">Отели</a>
        </li>
        <li class="header-menu__point">
            <a href="#gallery" class="header-menu__link">Галерея</a>
        </li>
        <li class="header-menu__point">
            <a href="#press" class="header-menu__link">Пресса</a>
        </li>
    </ul>
</div>

<div class="header-panel__second">
    <div class="header-panel">
        <div class="header-panel__inner" id="navbar-track">
            <div class="open-menu">
                <svg class="nav-button">
                    <use xlink:href="img/sprite.svg#nav-button"></use>
                </svg>
            </div>

            <ul class="header-menu nav nav-tabs" role="tablist">
                <li class="header-menu__point">
                    <a href="#event" class="fixed-menu-link header-menu__link">О мероприятии</a>
                </li>
                <li class="header-menu__point">
                    <a href="#programm" class="fixed-menu-link header-menu__link">Программа</a>
                </li>
                <li class="header-menu__point">
                    <a href="#excursions" class="fixed-menu-link header-menu__link">Экскурсии</a>
                </li>
            </ul>

            <a href="#" class="header-logo">
                <img src="img/logo.png" srcset="img/logo@2x.png 2x" alt="">
            </a>

            <ul class="header-menu nav nav-tabs" role="tablist">
                <li class="header-menu__point">
                    <a href="#hotels" class="fixed-menu-link header-menu__link">Отели</a>
                </li>
                <li class="header-menu__point">
                    <a href="#gallery" class="fixed-menu-link header-menu__link">Галерея</a>
                </li>
                <li class="header-menu__point">
                    <a href="#press" class="fixed-menu-link header-menu__link">Пресса</a>
                </li>
            </ul>

            <ul class="header-lang list-unstyled">
                <li class="language-bar-item language-bar-current">
                    <span>Ру</span>
                </li>
                <li class="language-bar-item">
                    <a href="http://hograllyminsk.com/en/" class="" title="En (en)"><span>En</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<header id="event" class="header">
    <div class="header-container container">
        <div class="header-panel">
            <div class="header-panel__inner">
                <div class="open-menu">
                    <svg class="nav-button">
                        <use xlink:href="img/sprite.svg#nav-button"></use>
                    </svg>
                </div>

                <ul class="header-menu nav nav-tabs" role="tablist">
                    <li class="header-menu__point active">
                        <a href="#" data-href="#event" class="header-menu__link">О мероприятии</a>
                    </li>
                    <li class="header-menu__point">
                        <a href="#" data-href="#programm" class="header-menu__link">Программа</a>
                    </li>
                    <li class="header-menu__point">
                        <a href="#" data-href="#excursions" class="header-menu__link">Экскурсии</a>
                    </li>
                </ul>

                <a href="#" class="header-logo">
                    <img src="img/logo.png" srcset="img/logo@2x.png 2x" alt="">
                </a>

                <ul class="header-menu nav nav-tabs" role="tablist">
                    <li class="header-menu__point">
                        <a href="#" data-href="#hotels" class="header-menu__link">Отели</a>
                    </li>
                    <li class="header-menu__point">
                        <a href="#" data-href="#gallery" class="header-menu__link">Галерея</a>
                    </li>
                    <li class="header-menu__point">
                        <a href="#" data-href="#press" class="header-menu__link">Пресса</a>
                    </li>
                </ul>

                <ul class="header-lang list-unstyled">
                    <li class="language-bar-item language-bar-current">
                        <span>Ру</span>
                    </li>
                    <li class="language-bar-item">
                        <a href="http://hograllyminsk.com/en/" class="" title="En (en)"><span>En</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="header-wrap container">
        <div class="row">
            <div class="header-left col-lg-4 col-md-5">
                <div class="logo-hog">
                    H.O.G.® Rally <span class="logo-hog-color">Minsk</span>
                </div>
                <div class="header-date">
                    <div class="header-date__number">29</div>
                    <div class="header-date__month">апреля</div>
                    <div class="header-date__location">ПЛОЩАДКА У <br> ДОМА ФУТБОЛА</div>
                </div>

                <div class="header-content">
                    <span class="header-content__text">
                        Каждую весну, традиционно, самые отважные рыцари на железных конях приезжают в Минск на турнир
                        H.O.G. Spring Challenge. И этой весной они вновь схлестнутся в поединках и покажут свою удаль и
                        отвагу!
                    </span>
                    <span class="header-content__link">ПРОГРАММА</span>
                </div>
            </div>
            <div class="header-biker col-lg-8 col-md-7">
                <div class="header-biker__media">
                    <img src="img/img-biker.png" srcset="img/img-biker@2x.png 2x" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom">
        <div class="container">
            <ul class="row list-unstyled">
                <li class="col-md-3">
                    <div class="header-bottom__block">
                        <svg class="header-bottom__icon guitar-music">
                            <use xlink:href="img/sprite.svg#guitar-music"></use>
                        </svg>

                        <div class="header-bottom__text">Концерт, выставки,<br> детский городок</div>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="header-bottom__block">
                        <svg class="header-bottom__icon parade">
                            <use xlink:href="img/sprite.svg#parade"></use>
                        </svg>

                        <div class="header-bottom__text">Торжественный<br> парад</div>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="header-bottom__block">
                        <svg class="header-bottom__icon fireworks">
                            <use xlink:href="img/sprite.svg#fireworks"></use>
                        </svg>

                        <div class="header-bottom__text">Праздничный<br> салют</div>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="header-bottom__block">
                        <svg class="header-bottom__icon mirror-ball">
                            <use xlink:href="img/sprite.svg#mirror-ball"></use>
                        </svg>

                        <div class="header-bottom__text">Вечеринка для участ.<br> H.O.G. и их друзей</div>
                    </div>
                </li>
            </ul>
        </div>
        <span class="header-down"></span>
    </div>
</header>
