<section id="hotels" class="hotels section-block">
    <div class="section-block__inner container">
        <div class="section-block__header">
            <h2 class="h1 section-title">Отели <span class="section-title__color">Минска</span></h2>
        </div>

        <div class="hotels-wrap row">
            <div class="hotel-item hotel-point col-md-4 col-sm-6">
                <div class="hotel-item__inner">
                    <div class="overflow-show overflow-show__hint">
                        <img src="img/example/bonhotel@2x.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Подробнее</span>
                        <div class="hotel-item__star">
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="hotel-item__panel">
                        <div class="hotel-item__name">Bonhotel</div>
                        <div class="hotel-item__price">
                            От $150/<span>ночь</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hotel-item hotel-point col-md-4 col-sm-6">
                <div class="hotel-item__inner">
                    <div class="overflow-show overflow-show__hint">
                        <img src="img/example/bonhotel@2x.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Подробнее</span>
                        <div class="hotel-item__star">
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="hotel-item__panel">
                        <div class="hotel-item__name">DoubleTree by Hilton</div>
                        <div class="hotel-item__price">
                            От $150/<span>ночь</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hotel-item hotel-point col-md-4 col-sm-6">
                <div class="hotel-item__inner">
                    <div class="overflow-show overflow-show__hint">
                        <img src="img/example/bonhotel@2x.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Подробнее</span>
                        <div class="hotel-item__star">
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="hotel-item__panel">
                        <div class="hotel-item__name">Bonhotel</div>
                        <div class="hotel-item__price">
                            От $150/<span>ночь</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hotel-item hotel-point col-md-4 col-sm-6">
                <div class="hotel-item__inner">
                    <div class="overflow-show overflow-show__hint">
                        <img src="img/example/bonhotel@2x.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Подробнее</span>
                        <div class="hotel-item__star">
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="hotel-item__panel">
                        <div class="hotel-item__name">Bonhotel</div>
                        <div class="hotel-item__price">
                            От $150/<span>ночь</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hotel-item hotel-point col-md-4 col-sm-6">
                <div class="hotel-item__inner">
                    <div class="overflow-show overflow-show__hint">
                        <img src="img/example/bonhotel@2x.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Подробнее</span>
                        <div class="hotel-item__star">
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="hotel-item__panel">
                        <div class="hotel-item__name">Bonhotel</div>
                        <div class="hotel-item__price">
                            От $150/<span>ночь</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hotel-item hotel-point col-md-4 col-sm-6">
                <div class="hotel-item__inner">
                    <div class="overflow-show overflow-show__hint">
                        <img src="img/example/bonhotel@2x.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Подробнее</span>
                        <div class="hotel-item__star">
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="hotel-item__panel">
                        <div class="hotel-item__name">Victoria Olimp Hotel</div>
                        <div class="hotel-item__price">
                            От $150/<span>ночь</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination">
            <div class="pagination-prev">
                <svg class="arrow">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
                <span>Назад</span>
            </div>
            <div class="pagination-number">3</div>
            <div class="pagination-next pagination-disable">
                <span>Вперед</span>
                <svg class="arrow">
                    <use xlink:href="img/sprite.svg#arrow"></use>
                </svg>
            </div>
        </div>

        <div class="hotel-window container">
            <div class="hotel-window__close">
                <svg class="close">
                    <use xlink:href="img/sprite.svg#close"></use>
                </svg>
            </div>

            <div class="hotel-window__content">
                <div class="hotel-window__head hotel-window__left">
                    <h4 class="hotel-window__title"><a href="#" rel="nofollow" target="_blank">
                        DoubleTree by Hilton
                        <svg class="external-link">
                            <use xlink:href="img/sprite.svg#external-link"></use>
                        </svg>
                    </a></h4>
                    <div class="hotel-window__location"><a href="#" rel="nofollow" target="_blank">
                        <svg class="location">
                            <use xlink:href="img/sprite.svg#location"></use>
                        </svg>
                        Показать на карте
                    </a></div>
                </div>

                <div class="hotel-window__right">
                    <ul class="hotel-window__prices list-unstyled">
                        <li>
                            <div class="hotel-window__prices-inner">
                                <div class="classes">SGL Room</div>
                                <div class="cost">$150/<span>ночь</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="hotel-window__prices-inner">
                                <div class="classes">SDBL Room</div>
                                <div>$220/<span>ночь</span></div>
                            </div>
                        </li>
                        <li>
                            <div class="hotel-window__prices-inner">
                                <div class="classes">LUX Room</div>
                                <div class="cost">$360/<span>ночь</span></div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="hotel-window__left">
                    <div class="hotel-window__big">
                        <div class="hotel-item__star">
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="star">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                        </div>
                        <div class="hotel-big">
                            <div class="slider-item"><img src="img/example/gal-01.jpg" alt=""></div>
                            <div class="slider-item"><img src="img/example/gal-02.jpg" alt=""></div>
                            <div class="slider-item"><img src="img/example/gal-03.jpg" alt=""></div>
                            <div class="slider-item"><img src="img/example/gal-04.jpg" alt=""></div>
                            <div class="slider-item"><img src="img/example/gal-05.jpg" alt=""></div>
                            <div class="slider-item"><img src="img/example/gal-06.jpg" alt=""></div>
                            <div class="slider-item"><img src="img/example/gal-07.jpg" alt=""></div>
                            <div class="slider-item"><img src="img/example/gal-08.jpg" alt=""></div>
                            <div class="slider-item"><img src="img/example/gal-09.jpg" alt=""></div>
                            <div class="slider-item"><img src="img/example/gal-10.jpg" alt=""></div>
                        </div>
                    </div>

                    <div class="hotel-thrum">
                        <div class="slider-item"><img src="img/example/gal-01.jpg" alt=""></div>
                        <div class="slider-item"><img src="img/example/gal-02.jpg" alt=""></div>
                        <div class="slider-item"><img src="img/example/gal-03.jpg" alt=""></div>
                        <div class="slider-item"><img src="img/example/gal-04.jpg" alt=""></div>
                        <div class="slider-item"><img src="img/example/gal-05.jpg" alt=""></div>
                        <div class="slider-item"><img src="img/example/gal-06.jpg" alt=""></div>
                        <div class="slider-item"><img src="img/example/gal-07.jpg" alt=""></div>
                        <div class="slider-item"><img src="img/example/gal-08.jpg" alt=""></div>
                        <div class="slider-item"><img src="img/example/gal-09.jpg" alt=""></div>
                        <div class="slider-item"><img src="img/example/gal-10.jpg" alt=""></div>
                    </div>

                    <p>Гостиница «Беларусь» с рестораном расположена в Минске, в 5 минутах ходьбы от церкви Святой
                        Равноапостольной Марии Магдалины и реки Свислочь. К услугам гостей бассейн и фитнес-центр,
                        которыми можно пользоваться за дополнительную плату. Гостям предоставляется бесплатный
                        Wi-Fi.</p>
                </div>

                <div class="hotel-window__right">
                    <div class="bid-form">
                        <form action="#" class="bid-form__inner">
                            <div class="bid-form__title">Подать Заявку</div>
                            <div class="ui-group">
                                <input type="text" class="ui-field ui-placeholder" placeholder="ф.и.о.">
                            </div>
                            <div class="ui-group">
                                <input type="tel" class="ui-field ui-placeholder" placeholder="Телефон">
                            </div>
                            <div class="ui-group">
                                <input type="email" class="ui-field ui-placeholder" placeholder="Email">
                            </div>
                            <div class="ui-group">
                                <textarea class="ui-field ui-placeholder" placeholder="Сообщение"></textarea>
                            </div>
                            <button class="btn btn-white">Отправить</button>
                        </form>
                    </div>
                </div>

                <button class="bid-form__send btn btn-white">Подать Заявку</button>
            </div>
        </div>
    </div>
</section>
