<section id="section6" class="press-about section-block">
    <div class="section-block__inner container">
        <div class="section-block__header row">
            <div class="col-md-9 col-sm-7">
                <h2 class="h1 section-title">Пресса <span class="section-title__color">О нас</span></h2>
            </div>
            <div class="tabs-header__right section-block__header-right col-md-3 col-sm-5">
                <ul class="tab-date list-unstyled nav nav-tabs" role="tablist">
                    <li class="active" data-target="#section-tab-3" aria-controls="section-tab-3" role="tab"
                        data-toggle="tab">
                        <span class="tab-date__number">2018</span>
                    </li>
                    <li data-target="#section-tab-4" aria-controls="section-tab-4" role="tab" data-toggle="tab">
                        <span class="tab-date__number">2017</span>
                    </li>
                    <li data-target="#section-tab-5" aria-controls="section-tab-5" role="tab" data-toggle="tab">
                        <span class="tab-date__number">2016</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="section-tab-3">
                <div class="news-item">
                    <div class="news-item__media">
                        <img src="img/example/press-1.jpg" srcset="img/example/press-1@2x.jpg 2x" alt="">
                    </div>
                    <div class="news-item__content">
                        <div class="news-item__title">
                            Мотосезон 2017 официально стартовал
                            <div class="news-item__data">19.05.17</div>
                        </div>
                        <div class="news-item__chanel">КАНАЛ: 1</div>
                        <div class="news-item__text">В эти минуты в Минске проходит большой праздник весны и спорта. По
                            традиции принять участие в байкерском фестивале в белорусскую столицу приехали гости из
                            ближнего и дальнего зарубежья. Судя по масштабу мотоколонны, которая проследовала от Кургана
                            Славы до Дома футбола, рекорд прошлого года по количеству участников может быть побит.
                        </div>
                        <a href="#" class="news-item__more">
                            <span class="news-item__more-text">Полный материал на сайте издания</span>
                            <span class="news-item__arrow">
                                <svg class="arrow">
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                                <svg class="arrow">
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="news-item">
                    <div class="news-item__media">
                        <img src="img/example/press-2.jpg" srcset="img/example/press-2@2x.jpg 2x" alt="">
                    </div>
                    <div class="news-item__content">
                        <div class="news-item__title">
                            ФОТОРЕПОРТАЖ: Открытие мотосезона-2017 в Минске.
                            <div class="news-item__data">19.05.17</div>
                        </div>
                        <div class="news-item__chanel">КАНАЛ: Информационное агентство БелТА</div>
                        <div class="news-item__text">Тридцатого апреля байкеры из 10-ти стран колонной торжественно
                            проследовали от Кургана Славы к Дому футбола.
                        </div>
                        <a href="#" class="news-item__more">
                            <span class="news-item__more-text">Полный материал на сайте издания</span>
                            <span class="news-item__arrow">
                                <svg class="arrow">
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                                <svg class="arrow">
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="news-item">
                    <div class="news-item__media">
                        <img src="img/example/press-3.jpg" srcset="img/example/press-3@2x.jpg 2x" alt="">
                    </div>
                    <div class="news-item__content">
                        <div class="news-item__title">
                            Тысячи байкеров проехали по минску в честь открытия мотосезона-2017 H.O.G. Spring Challenge.
                            <div class="news-item__data">19.05.17</div>
                        </div>
                        <div class="news-item__chanel">КАНАЛ: 1</div>
                        <div class="news-item__text">
                            Почти четыре тысячи байкеров из 10 стран собрались в Минске на открытие мотосезона-2017
                            H.O.G. Spring Challenge. Огромная железная колонна формировалась у Кургана Славы, откуда
                            проследовала к Дому футбола. Возглавили торжественное шествие Помощник Президента Беларуси
                            по национальной безопасности Виктор Лукашенко, министр внутренних дел Игорь Шуневич и
                            начальник УГАИ МВД Дмитрий Корзюк.
                        </div>
                        <a href="#" class="news-item__more">
                            <span class="news-item__more-text">Полный материал на сайте издания</span>
                            <span class="news-item__arrow">
                                <svg class="arrow">
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                                <svg class="arrow">
                                    <use xlink:href="img/sprite.svg#arrow"></use>
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="pagination">
                    <div class="pagination-prev pagination-disable">
                        <svg class="arrow">
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                        <span>Назад</span>
                    </div>
                    <div class="pagination-number">1</div>
                    <div class="pagination-next">
                        <span>Вперед</span>
                        <svg class="arrow">
                            <use xlink:href="img/sprite.svg#arrow"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="section-tab-4">
                4
            </div>
            <div role="tabpanel" class="tab-pane fade" id="section-tab-5">
                5
            </div>
        </div>

    </div>
</section>
