<section id="section5" class="gallery-events section-block">
    <div class="section-block__inner container">
        <div class="gallery-photos">
            <div class="section-block__header row">
                <div class="col-md-9">
                    <svg class="arrow">
                        <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                    <h2 class="h1 section-title">Открытие <span class="section-title__color">Сезона</span></h2>
                </div>
            </div>

            <div class="row">
                <div class="gallery-events__item col-lg-3 col-md-4 col-sm-6">
                    <div class="overflow-show overflow-show__hint" data-src="img/example/gal-01.jpg" data-fancybox="gal"
                         data-caption="Мы на площади">
                        <img src="img/example/gal-01.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Смотреть</span>
                    </div>
                </div>
                <div class="gallery-events__item col-lg-3 col-md-4 col-sm-6">
                    <div class="overflow-show overflow-show__hint" data-src="img/example/gal-02.jpg" data-fancybox="gal"
                         data-caption="Мы на площади">
                        <img src="img/example/gal-02.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Смотреть</span>
                    </div>
                </div>
                <div class="gallery-events__item col-lg-3 col-md-4 col-sm-6">
                    <div class="overflow-show overflow-show__hint" data-src="img/example/gal-03.jpg" data-fancybox="gal"
                         data-caption="Мы на площади">
                        <img src="img/example/gal-03.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Смотреть</span>
                    </div>
                </div>
                <div class="gallery-events__item col-lg-3 col-md-4 col-sm-6">
                    <div class="overflow-show overflow-show__hint" data-src="img/example/gal-04.jpg" data-fancybox="gal"
                         data-caption="Мы на площади">
                        <img src="img/example/gal-04.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Смотреть</span>
                    </div>
                </div>
                <div class="gallery-events__item col-lg-3 col-md-4 col-sm-6">
                    <div class="overflow-show overflow-show__hint" data-src="img/example/gal-05.jpg" data-fancybox="gal"
                         data-caption="Мы на площади">
                        <img src="img/example/gal-05.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Смотреть</span>
                    </div>
                </div>
                <div class="gallery-events__item col-lg-3 col-md-4 col-sm-6">
                    <div class="overflow-show overflow-show__hint" data-src="img/example/gal-06.jpg" data-fancybox="gal"
                         data-caption="Мы на площади">
                        <img src="img/example/gal-06.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Смотреть</span>
                    </div>
                </div>
                <div class="gallery-events__item col-lg-3 col-md-4 col-sm-6">
                    <div class="overflow-show overflow-show__hint" data-src="img/example/gal-07.jpg" data-fancybox="gal"
                         data-caption="Мы на площади">
                        <img src="img/example/gal-07.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Смотреть</span>
                    </div>
                </div>
                <div class="gallery-events__item col-lg-3 col-md-4 col-sm-6">
                    <div class="overflow-show overflow-show__hint" data-src="img/example/gal-08.jpg" data-fancybox="gal"
                         data-caption="Мы на площади">
                        <img src="img/example/gal-08.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Смотреть</span>
                    </div>
                </div>
                <div class="gallery-events__item col-lg-3 col-md-4 col-sm-6">
                    <div class="overflow-show overflow-show__hint" data-src="img/example/gal-09.jpg" data-fancybox="gal"
                         data-caption="Мы на площади">
                        <img src="img/example/gal-09.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Смотреть</span>
                    </div>
                </div>
                <div class="gallery-events__item col-lg-3 col-md-4 col-sm-6">
                    <div class="overflow-show overflow-show__hint" data-src="img/example/gal-10.jpg" data-fancybox="gal"
                         data-caption="Мы на площади">
                        <img src="img/example/gal-10.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Смотреть</span>
                    </div>
                </div>
                <div class="gallery-events__item col-lg-3 col-md-4 col-sm-6">
                    <div class="overflow-show overflow-show__hint" data-src="img/example/gal-11.jpg" data-fancybox="gal"
                         data-caption="Мы на площади">
                        <img src="img/example/gal-11.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Смотреть</span>
                    </div>
                </div>
                <div class="gallery-events__item col-lg-3 col-md-4 col-sm-6">
                    <div class="overflow-show overflow-show__hint" data-src="img/example/gal-12.jpg" data-fancybox="gal"
                         data-caption="Мы на площади">
                        <img src="img/example/gal-12.jpg" alt="">
                        <svg class="view">
                            <use xlink:href="img/sprite.svg#view"></use>
                        </svg>
                        <span class="text">Смотреть</span>
                    </div>
                </div>
            </div>

            <div class="pagination">
                <div class="pagination-prev">
                    <svg class="arrow">
                        <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                    <span>Назад</span>
                </div>
                <div class="pagination-number">3</div>
                <div class="pagination-next pagination-disable">
                    <span>Вперед</span>
                    <svg class="arrow">
                        <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                </div>
            </div>
        </div>

        <div class="gallery-albums">
            <div class="section-block__header row">
                <div class="col-md-9 col-sm-7">
                    <h2 class="h1 section-title">Галерея <span class="section-title__color">событий</span></h2>
                </div>
                <div class="tabs-header__right section-block__header-right col-md-3 col-sm-3">
                    <ul class="tab-date list-unstyled nav nav-tabs" role="tablist">
                        <li class="active" data-target="#section-tab-6" aria-controls="homsection-tab-6" role="tab"
                            data-toggle="tab">
                            <span class="tab-date__number">2018</span>
                        </li>
                        <li data-target="#section-tab-7" aria-controls="section-tab-7" role="tab" data-toggle="tab">
                            <span class="tab-date__number">2017</span>
                        </li>
                        <li data-target="#section-tab-8" aria-controls="section-tab-8" role="tab" data-toggle="tab">
                            <span class="tab-date__number">2016</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="section-tab-6">
                    <ul class="list-unstyled row">
                        <li class="gallery-events__item col-md-4 col-sm-6">
                            <div class="gallery-events__inner">
                                <div class="gallery-events__title">H.O.G. SPRING CHALLENGE</div>
                                <div class="overflow-show">
                                    <img src="img/example/gal-01.jpg" alt="">
                                    <svg class="view">
                                        <use xlink:href="img/sprite.svg#view"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="gallery-events__item col-md-4 col-sm-6">
                            <div class="gallery-events__inner">
                                <div class="gallery-events__title">H.O.G. SPRING CHALLENGE</div>
                                <div class="overflow-show">
                                    <img src="img/example/gal-02.jpg" alt="">
                                    <svg class="view">
                                        <use xlink:href="img/sprite.svg#view"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="gallery-events__item col-md-4 col-sm-6">
                            <div class="gallery-events__inner">
                                <div class="gallery-events__title">H.O.G. SPRING CHALLENGE</div>
                                <div class="overflow-show">
                                    <img src="img/example/gal-03.jpg" alt="">
                                    <svg class="view">
                                        <use xlink:href="img/sprite.svg#view"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="gallery-events__item col-md-4 col-sm-6">
                            <div class="gallery-events__inner">
                                <div class="gallery-events__title">H.O.G. SPRING CHALLENGE</div>
                                <div class="overflow-show">
                                    <img src="img/example/gal-04.jpg" alt="">
                                    <svg class="view">
                                        <use xlink:href="img/sprite.svg#view"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="gallery-events__item col-md-4 col-sm-6">
                            <div class="gallery-events__inner">
                                <div class="gallery-events__title">H.O.G. SPRING CHALLENGE</div>
                                <div class="overflow-show">
                                    <img src="img/example/gal-05.jpg" alt="">
                                    <svg class="view">
                                        <use xlink:href="img/sprite.svg#view"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                        <li class="gallery-events__item col-md-4 col-sm-6">
                            <div class="gallery-events__inner">
                                <div class="gallery-events__title">H.O.G. SPRING CHALLENGE</div>
                                <div class="overflow-show">
                                    <img src="img/example/gal-06.jpg" alt="">
                                    <svg class="view">
                                        <use xlink:href="img/sprite.svg#view"></use>
                                    </svg>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="pagination">
                        <div class="pagination-prev">
                            <svg class="arrow">
                                <use xlink:href="img/sprite.svg#arrow"></use>
                            </svg>
                            <span>Назад</span>
                        </div>
                        <div class="pagination-number">2</div>
                        <div class="pagination-next">
                            <span>Вперед</span>
                            <svg class="arrow">
                                <use xlink:href="img/sprite.svg#arrow"></use>
                            </svg>
                        </div>
                    </div>
                </div>

                <div role="tabpanel" class="tab-pane fade" id="section-tab-7">
                    4
                </div>

                <div role="tabpanel" class="tab-pane fade" id="section-tab-8">
                    5
                </div>
            </div>
        </div>
    </div>
</section>
